

.art {
  min-width: 320px!important;
  max-width: 900px!important;
}

#root, html, body {
  background: #E5E5E5;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 919px){
  body {
    background: #E5E5E5;
    padding: 0;
  }
  .app {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .filter {
    height: 262px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
  }

  .filter__title {
    padding: 20px 20px 10px;
    font-weight: 600;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .art {
    width: 755px;
    margin: 0 auto;
  }

  .card {
    background: white;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: Open Sans, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 20px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .segment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .gray {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A0B0B9;
    margin-top: 10px;
    padding-left: 20px;
  }

  .black{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
  }

  .price {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
  }

  .card__header {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    align-items: center;
  }

  .logotip {
    grid-column: 3;
  }

  .orders {
    width: 100%;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .sort {
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    color: black;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .select {
    background: #2196F3;
    color: white;
  }

  .sort__menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .active {
    background-color: #F1FCFF;
  }

  .filter__menu {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 10px 20px;
    display: flex;
  }

  .filter__menu input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  .filter__menu span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 22px;
  }

  .filter__menu span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
    background: url('./components/logo/Checkbox1.svg') 0 0 no-repeat;
  }

  .filter__menu input[type=checkbox]:checked + span:before {
    background-image: url('./components/logo/Checkbox.svg');
  }

  input[type=checkbox]:checked + .filter__menu{
    background-color: gray;
  }

  .filter__menu input[type=checkbox]:checked {
    background-color: black;
  }

  .focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  .filter__menu span:hover:before {
    filter: brightness(110%);
  }

  .filter__menu span:active:before {
    filter: brightness(80%);

  }

  input {
    margin-right: 10px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .art {
    width: 100%;
  }

  .filter {
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

}

@media (min-width: 920px) {
  body {
    height: 100vh;
    background: #E5E5E5;
    margin: 0;
    padding: 0;

  }
  .app {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .filter {
    width: 332px;
    height: 252px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
  }

  .filter__title {
    padding: 20px 20px 10px;
    font-weight: 600;
  }

  .logo {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  .art {
    width: 800px;
    margin: 0 auto;
  }

  .card {
    background: white;
    width: 100%;
    height: 184px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: Open Sans, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 20px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .segment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .gray {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A0B0B9;
    padding-left: 20px;
  }

  .black{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-left: 20px;
  }

  .price {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196F3;
  }

  .card__header {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    align-items: center;
  }

  .logotip {
    grid-column: 3;
  }

  .orders {
    width: 100%;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .sort {
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    color: black;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .select {
    background: #2196F3;
    color: white;
  }

  .sort__menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .active {
    background-color: #F1FCFF;
  }

  .filter__menu {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 9px 20px;
    display: flex;
  }

  .example {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .list {
    background-color: #E5E5E5;
    height: 100vh;
  }

  .ant-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-weight: 600;
    font-size: 62px!important;
    line-height: 18px;
    opacity: 0.5;
  }

  .filter__menu input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  .filter__menu span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 22px;
  }

  .filter__menu span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
    background: url('./components/logo/Checkbox1.svg') 0 0 no-repeat;
  }

  .filter__menu input[type=checkbox]:checked + span:before {
    background-image: url('./components/logo/Checkbox.svg');
  }

  input[type=checkbox]:checked + .filter__menu{
    background-color: gray;
  }

  .filter__menu input[type=checkbox]:checked {
    background-color: black;
  }

  .focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  .filter__menu span:hover:before {
    filter: brightness(110%);
  }

  .filter__menu span:active:before {
    filter: brightness(80%);

  }

  input {
    margin-right: 10px;
  }

  p {
    padding: 0;
    margin: 0!important;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("./Resource/OpenSans-Light.ttf");
}
